body {
    background-color:  gray;
}

.header {
    background-color: black;
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-size: 25px;
}

button {
    background-color: white;
}

button:hover{
    background-color: green;
}
.gameText{
    display: flex; 
    flex-wrap: wrap;
    color:  black;
    flex-direction: row;

}





